*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html {
    overflow-x: hidden;
    font-family: "Young Serif", serif;
}

.baskervville-sc-regular {
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
}

.young-serif-regular {
    font-family: "Young Serif", system-ui;
    font-weight: 400;
    font-style: normal;
}

.webgl {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

nav {
    color: black;
    z-index: 2;
    position: relative;
    padding: 4rem 8rem;
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 4rem;
}

.title {
    color: black;
    z-index: 2;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -75%);
}

.titleCard {
    font-size: 3rem;
    font-weight: normal;
}

.card {
    font-size: 1rem;
    font-weight: normal;
}

.not-selectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}